@model IEnumerable<Oficial4.Models.Carro>

@{
    ViewBag.Title = "Carros";
    if (Session["nome_Usuario"].ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Cadastro de Carros</h2>

<p>
    @Html.ActionLink("Criar novo Carro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_Carro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Carro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_carro }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id_carro }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.id_carro })
        </td>
    </tr>
}

</table>
