@model IEnumerable<Oficial4.Models.Cliente>

@{
    ViewBag.Title = "Pessoas";
    if (Session["nome_Usuario"].ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2> Cadastro de Pessoas</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nome_Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nome_Usuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_Cliente }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id_Cliente }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.id_Cliente })
        </td>
    </tr>
}

</table>
