@model Oficial4.Models.Pecas

@{
    ViewBag.Title = "Criar";
    var usrSession = Session["nome_Usuario"];
    if (usrSession != null && usrSession.ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Criar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Peças</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nome_Pecas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nome_Pecas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nome_Pecas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.preco_Pecas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.preco_Pecas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.preco_Pecas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tipo, "tipo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("tipo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
        </div>
    </div>

    @*@foreach (var item in ViewBag.Carros)
    {
        <div id="tabela">
            <input type="checkbox" id="@item.nome_Carro" name="@item.nome_Carro"
                   checked>
            <label for="@item.nome_Carro">@item.nome_Carro</label>
        </div>
    }*@
    @*<div class="form-group">
            @Html.LabelFor(model => model.carro, "carro", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("carro", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.carro, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Criar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <a href="/Pecas/Index" class="btn btn-info">Voltar</a>
</div>
