@model Oficial4.Models.Pecas

@{
    ViewBag.Title = "Deletar";
    if (Session["nome_Usuario"].ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja excluir esta peça?</h3>
<div>
    <h4>Peças</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Pecas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Pecas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco_Pecas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_Pecas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carro1.nome_Carro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro1.nome_Carro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo1.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo1.descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
