@model Oficial4.Models.Pecas

@{
    ViewBag.Title = "Detalhes";
    if (Session["nome_Usuario"].ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Detahes</h2>

<div>
    <h4>Peças</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Pecas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Pecas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco_Pecas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_Pecas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carro1.nome_Carro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro1.nome_Carro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo1.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo1.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_Pecas }) |
    @Html.ActionLink("Voltar", "Index")
</p>
