@model IEnumerable<Oficial4.Models.Pecas>

@{
    ViewBag.Title = "Início";
}

<h2>Peças</h2>

<p>
    @Html.ActionLink("Criar nova peça", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_Pecas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco_Pecas)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Carro1.nome_Carro)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Tipo1.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Pecas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco_Pecas)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Carro1.nome_Carro)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Tipo1.descricao)
        </td>
        <td><b>||</b>
            <button>
    @Html.ActionLink("Editar", "Edit", new { id = item.id_Pecas })
</button> <b>||</b>
          <button>
              @Html.ActionLink("Detalhes", "Details", new { id = item.id_Pecas })
          </button><b>||</b>
                   <button>
                       @Html.ActionLink("Apagar", "Delete", new { id = item.id_Pecas })
                   </button><b>||</b>
        </td>
    </tr>
}

</table>
