@model Oficial4.Models.Usuario

@{
    ViewBag.Title = "Deletar";
    var usrSession = Session["nome_Usuario"];
    if (usrSession != null && usrSession.ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Deletar</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_Usuario }) |
    @Html.ActionLink("Voltar", "Index")
</p>
